* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: #0c0c0c;
    border: 1px solid rgb(0, 153, 255);
    border-radius: 6px;
    padding: 2px 8px;
    background-color: #65dfc9;
    opacity: 0.7;
    font-weight: bold;
    transition: all 300ms ease;
}

a:hover {
    background-color: #05d1ac;
    color: rgb(0, 4, 255);
    opacity: 1;
}

li {
    list-style-type: none;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #51f5e2, #02ceb0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    display: flex;
    background: white;
    height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 20px;
    z-index: 3;
    backdrop-filter: blur(20px);
}

.circle1,
.circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));;
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 15%;
    background: red;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

.logo {
    height: 200px;
    width: 200px;
    margin: 16px 0;
}

.user {
    padding-bottom: 20px;
}

.name {
    font-size: 30px;
}

.under-name 
{
    font-size: 20px;
}

i {
    border: 2px solid black;
    border-radius: 24px;
    padding: 8px;
    background-color: #93f3e1;
    color: rgb(0, 170, 255);
}

.dashboard {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.link {
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.anchor {
    padding-left: 12px;
}


.welcome-container {
    width: 60%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    margin: 12px 0 32px 0;
    font-size: 38px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 28px;
    width: 50%;
}

img {
    height: 120px;
    width: 180px;
    border-radius: 24px;
}
/* 

PHOTOS

*/

